<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <style>
      body {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        background-color: darkcyan;
      }
      h1 {
        background-color: cornsilk;
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      table {
        background-color: cornsilk;
        width: 100%;
        table-layout: fixed;
      }

      td {
        width: 10%;
      }
    </style>
    <%- include ('partials/navbar.ejs') %>
    <h1>All Products Here</h1>

    <div style="overflow-x: auto">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Anime</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Image Link</th>
          </tr>
        </thead>
        <tbody>
          <% data.forEach(function(item) { %>
          <tr>
            <td><input type="text" name="id" value="<%=item.id %>" /></td>
            <td><input type="text" name="name" value="<%=item.p_name %>" /></td>
            <td><input type="text" name="type" value="<%=item.p_type %>" /></td>
            <td><input type="text" name="anime" value="<%=item.p_anime %>" /></td>
            <td>
              <input
                type="text"
                name="description"
                value="<%=item.p_description %>"
              />
            </td>
            <td width="40%">
              <input type="text" name="price" value="<%=item.p_price %>" />
            </td>
            <td><input type="text" name="url" value="<%=item.p_url %>" /></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </body>
</html>
